* {
    font-family: roboto , sans-serif;
};

.content{
    padding: 1rem;
};
.pokemon{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
};
.pokemon li{
    margin: .5rem;
    padding: 1rem;
    background-color: #14A06F;

};
